*{
    margin: 0;
    padding: 0;
}

footer{
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}

@media (max-width:760px) {
    footer{
        position: fixed;
        height: 1000px;
        bottom: 0;
        width: 100%;
    }
}
.bolinha-cheia{
    background-color:black;border-radius:70%;
}